h1 {
    color: #27aedb;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    
  
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}